footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #fff;
    padding: 24px 0px;
  }
  footer .layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer p a {
    font-weight: 500;
    color: #1bd879;
  }
  footer img {
    width: 32px;
  }
  footer div {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media screen and (max-width: 1200px){
    footer .layout {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px;
      }

  }
  
  @media screen and (max-width: 992px){
  
  
  }
  
  @media screen and (max-width: 768px){
  
  
  }