#projects {
    padding: 100px 0 0 0;
    text-align: center;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #projects h2 {
    padding-bottom: 24px;
    color: #ffbb00;
    font-size: 4rem;
    font-weight: 500;
  }
  
  #projects-container {
    margin: 24px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  #projects-container article {
    background-color: #151515;
    border-radius: 10px;
    border: solid 1px black;
    width: 95%;
    height: 90%;
    margin: 50px;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #projects-container article:hover {
    border: 1px solid #2600ff;
  }
  
  #projects-container h3 {
    color: #5eff01;
    font-size: 2.4rem;
    font-weight: 500;
  }
  #projects-container p {
    line-height: 24px;
    margin: 24px 0px;
    color: #f1270d;
    line-height: 3.2rem;
    font-size: 1.8rem;
  }

  @media (max-width: 480px){
    #projects{
      display: none;
    }
   }