<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Roberto Marins" />
    <meta name="description" content="Meu nome é Roberto, desenvolvo interfaces modernas e de alta qualidade, concentrado em performance, animações, responsividade e SEO." />
    <meta name="keywords" content="sites, web, desenvolvimento, frontend, Roberto Marins, ui designer, programador, front-end, designer, ui, Roberto, freelancer, freela, website, portfólio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#013285" />
    <meta name="copyright" content="Roberto Marins 2024" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta property="og:title" content="Portfólio // Roberto Marins" />
    <meta property="og:description" content="Portfólio // Roberto Marins" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../static/assets/styles/style.css" />
    <link rel="shortcut icon" href="../static/assets/image/Logo.png" type="image/x-icon" />
    <link rel="icon" href="../static/assets/image/logo-page.svg" />
    <link rel="apple-touch-icon" href="../static/assets/image/logo-page.svg" />
    <link rel="canonical" href="https://robertomarins.com.br/" />
    <title>Roberto Marins</title>
  </head>

  <body>
    <header>
      <div class="layout">
        <nav>
          <img id="logo" src="../static/assets/image/Logo.png" alt="">
          <ul class="nav-list">
            <li><a href="#home" alt="Início" title="Início"> Início </a></li>
            <li><a href="#about" alt="Sobre mim" title="Sobre mim"> Sobre mim </a></li>
            <li><a href="#projects" alt="Projetos"> Projetos </a></li>
            <li><a href="#s-contato" alt="Contato"> Contato </a></li>
          </ul>
        </nav>
      </div>
    </header>

    <aside>
      <nav>
        <a href="https://linkedin.com/in/betorfm/" target="_blank" rel="noopener noreferrer"><img src="../static/assets/image/linkedin.png" alt=""/></a>
        <a href="https://github.com/betorfm" target="_blank" rel="noopener noreferrer"><img src="../static/assets/image/github.png" alt="" /></a>
        <a href="mailto:contato@robertomarins.com.br" target="_blank" rel="noopener noreferrer"><img src="../static/assets/image/email.png" alt="" /></a>
        <a href="https://wa.me/5521977061641" target="_blank" rel="noopener noreferrer"><img src="../static/assets/image/whatsapp.png" alt="" /></a>
      </nav>
    </aside>

    <main>
      <section id="home">
        <div class="layout">
            <canvas id="canvas"></canvas>
            <div>
              <h1 class="letras">Olá, seja bem vindo!!!</h1>
            </div>
        </div>
      </section>

      <section id="about">
        <div class="layout">
            <div id="text-about">
              <h4>Olá, me chamo</h4>
              <h2>Roberto Marins</h2>
              <h3>Sou Desenvolvedor FullStack</h3>

              <p>
                Apaixonado por tecnologia, criatividade e por transformar ideias
                em algo real. Adoro desafios, aprender coisas novas e criar
                projetos que conectem pessoas e soluções de maneira prática e
                inovadora. Sou alguém que valoriza dedicação, simplicidade e um
                bom resultado. Amo mergulhar em cada detalhe para entregar algo
                que faça sentido e que cause impacto positivo. Quando não estou
                programando, gosto de estudar, buscar inspirações e continuar
                evoluindo como pessoa e profissional. Meu objetivo é construir
                projetos que falem por si só e ajudem pessoas e negócios a
                alcançarem o que desejam.
              </p>
            </div>
            <div id="skills">
              <h2>Habilidades</h2>
              <div id="skills-cards">
                <article
                  class="image-container"
                  data-description="HTML (HyperText Markup Language) é a linguagem usada para estruturar o conteúdo de sites, como textos, imagens e links. Ele organiza os elementos da página, sendo a base de toda a web"
                >
                  <img
                    src="../static/assets/icons/html5.svg"
                    
                    alt="ícone do html"
                  />
                </article>
                <article
                  class="image-container"
                  data-description="CSS (Cascading Style Sheets) é a linguagem usada para estilizar páginas da web. Ele define cores, fontes, tamanhos e layouts, tornando os sites mais bonitos e atraentes."
                >
                  <img
                    src="../static/assets/icons/css3.svg"
                    
                    alt="ícone do css"
                  />
                </article>
                <article
                  class="image-container"
                  data-description="JavaScript é uma linguagem de programação usada para tornar as páginas da web interativas. Com ela, é possível criar animações, validação de formulários e respostas dinâmicas aos usuários."
                >
                  <img src="../static/assets/icons/js.svg" alt="ícone do javascript"/>
                </article>

                <article
                  class="image-container"
                  data-description="Sass é uma ferramenta que facilita o uso de CSS, tornando o código mais organizado e reutilizável. Ele permite criar estilos de forma mais rápida e eficiente para sites."
                >
                  <img
                    src="../static/assets/icons/SASS 1.svg"
                   
                    alt="ícone do SASS"
                  />
                </article>

                <article
                  class="image-container"
                  data-description="Python é uma linguagem de programação poderosa e de alto nível, amplamente usada para desenvolvimento web, análise de dados, inteligência artificial e automação."
                >
                  <img
                    src="../static/assets/icons/python.svg"
                    
                    alt="ícone do python"
                  />
                </article>
                <article
                  class="image-container"
                  data-description="PostgreSQL é um sistema de gerenciamento de banco de dados relacional avançado, conhecido por sua robustez, flexibilidade e conformidade com os padrões SQL."
                >
                  <img
                    src="../static/assets/icons/postgre.svg"
                    
                    alt="ícone do postgreSQL"
                  />
                </article>
              </div>
              <div id="skills-text">
                <p id="changeDescription">
                  *passe o cursor do mouse no card para ler*
                </p>
              </div>
            </div>
        </div>
      </section>

      <section id="projects">
        <div class="layout">
          <h2>Projetos</h2>
          <div id="projects-container">
            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>
            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>

            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>
            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>
            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>
            <a href="">
              <article>
                <h3>Em construção...</h3>
                <p>
                  Pegue o café e espere um pouco, estou desenvolvendo o projeto.
                </p>
              </article>
            </a>
          </div>
        </div>
      </section>

      <section id="s-contato">
        <div class="layout">
          <div id="form-container" class="delaySmallReveal">
            <form id="form" action="/submit" method="POST">
              <h2>Formulário de Contato</h2>
              <div class="form-group">
                <label for="name">Nome</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input
                  type="tel"
                  id="telefone"
                  name="telefone"
                  required
                />
              </div>
              <button type="submit">Enviar</button>
            </form>
      
            <div
              id="response-message"
              style="
                margin-top: 10px;
                color: rgb(146, 6, 151);
                font-size: 12px;
                text-align: center;
              "
            ></div>
          </div>
        </div>
      </section>
      
    </main>  

    <footer>
        <div class="layout">
          <p>Copyright © 2024 Todos os direitos reservados.</p>

          <div>
            <p>Roberto Marins</p>
            <img src="../static/assets/image/Logo.png" alt="Logo" />
          </div>
        </div>
    </footer>
    

    <script src="../static/assets/js/form.js"></script>
    <script src="../static/assets/js/letras.js"></script>
    <script src="../static/assets/js/splash.js"></script>
    <script src="../static/assets/js/descricao.js"></script>
  </body>
</html>
